.app {
    margin: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
  }
  .search{
padding: 10px;
border-radius: 20px;
font-size: 20px;

  }
  .list {
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .listItem {
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(90, 89, 89);
    font-weight: 300;
  }